.container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.logo {
  width: 120px;
  align-self: center;
}

@media (min-width: 600px) {
  .logo {
    align-self: center;
    width: 150px;
  }
}