body {
  background: rgb(51, 51, 51);
  /* background: linear-gradient(326deg, rgba(0,241,255,1) 0%, rgba(5,24,185,1) 53%); */
  padding: 10px 15px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
}

.landingPageHeader {
  text-align: center;
}

.welcomeMessege {
  margin: 10px 30px;
  color: white;
}

.logo {
  width: 200px;
  margin: 20px 0 20px 0;
}

.paragraphs {
  margin: 20px 0;
  text-align: center;
}

.paragraphs p {
  color: white;
  font-weight: bold;
}

.arrowLink {
  border-radius: 5px;
  background-color:rgb(56,182,255);
  padding: 0 15px;
  display: flex;
  align-self: center;
  justify-content: center;
  box-shadow: 0 0 0.3em rgb(112,0,157);
  margin-top: 10px;
}

.arrowLink span {
  font-size: 72px;
}

.arrowLink span i {
  color: rgb(94,23,235);
}
