body {
  background: rgb(51, 51, 51);
  /* background: linear-gradient(326deg, rgba(0,241,255,1) 0%, rgba(5,24,185,1) 53%); */
  padding: 10px 15px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainLandingPage {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.landingPageHeader {
  text-align: center;
}

.welcomeMessege {
  margin: 10px 30px;
  color: white;
}

.logo {
  width: 250px;
  margin: 20px 0 20px 0;
}

.paragraphs {
  margin: 0 0 20px 0;
  text-align: center;
}

.paragraphs p {
  color: white;
  font-weight: bold;
}

.arrowLink {
  border-radius: 5px;
  background-color:rgb(56,182,255);
  padding: 0 15px;
  display: flex;
  align-self: center;
  justify-content: center;
  box-shadow: 0 0 0.3em rgb(112,0,157);
  margin-top: 10px;
}

.arrowLink span {
  font-size: 72px;
}

.arrowLink span i {
  color: rgb(0,74,173);
}

@media (min-width: 600px) {
  .welcomeMessege {
    margin: 10px 30px;
    color: white;
    font-size: 3rem;
  }

  .logo {
    width: 400px;
    margin: 20px 0 20px 0;
  }

  .paragraphs {
    margin: 20px 0;
    text-align: center;
    font-size: 1.4rem;
  }

  .arrowLink {
    border-radius: 5px;
    background-color:rgb(56,182,255);
    padding: 0 15px;
    display: flex;
    align-self: center;
    justify-content: center;
    box-shadow: 0 0 0.3em rgb(0,74,173);
    margin-top: 30px;
    transition: 600ms;
  }

  .arrowLink span i {
    color: rgb(0,74,173);
    transition: 600ms;
  }

  .arrowLink:hover {
    background-color: rgb(123, 207, 255);
    transform: scale(1.2);
  }

  .arrowLink span i:hover {
    color: rgb(112,0,157);
  }
}
